$principal-color:#e5e9e8;
$contener-color:#edeef0;
$icone-color:#0065FC;
$true-star-color:#e4e8eb;
$background-article:white;
$space-icone-color:#DEEBFF;
$link-color:inherit;
$border-color:rgb(176, 175, 175);
$border-input-color:#F2F2F2;



